.btn-success {
  justify-content: center;
  margin-top: 10px;
}

.button-delete {
  float: right;
  margin: 24px;
}

.btn {
  border-radius: 5px;
  color: white;
}

.btn-primary:hover{
  color: white;
}

.swal-button--confirm {
  background: #f4a261;
}

.btn-danger {
  margin-left: 48px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(67, 55, 172);
}


#dropdownMenuLink {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  text-decoration: none;
  padding-left: 30px;
}

.navbar-light .navbar-brand {
  color: black;
}

.navbar-light .navbar-brand:hover {
  color: rgba(255,255,255,0.5);
}

.navbar-light .navbar-brand:after {
  color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.5);
}

.dropdown {
  padding-left: 30px;
}
